{% extends "layout.html" %}
{% block content %}
	{% if heading %}
		<h5>{{ heading }}</h5>
	{% endif %}
	<div class="row">
	{% for recipe in recipes %}
		<div class="col-sm-3">
			<div class="card h-100">
				<div class="home-recipe-pic-div">
					<a href="{{ url_for('recipes.recipe', recipe_id=recipe.id )}}">
						<img class="card-img-top home-recipe-pic" src="{{ recipe.get_image_url() }}" />
					</a>
				</div>
				<div class="card-body">					
					<h4 class="card-title"><a href="{{ url_for('recipes.recipe', recipe_id=recipe.id )}}">{{ recipe.title }}</a></h4>
					<small class="card-text text-muted">
						Author: <a href="{{ url_for('users.user_recipes', user_id=recipe.author.id) }}">{{ recipe.author.username }}</a>
					</small>
					<p class="card-text">{{ recipe.description }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock content%}