{% extends "layout.html" %}
{% block content %}
	<div class="row">
	{% for recipe in recipes %}
		<div class="col-sm-3">
			<div class="card text-center">
				<div class="card-body">
					<img class="card-img-top" src="{{ recipe.get_image_url() }}" />	
					<h4 class="card-title"><a href="{{ url_for('recipes.recipe', recipe_id=recipe.id )}}">{{ recipe.title }}</a></h4>
					<p class="card-text">{{ recipe.description }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock content %}