{% extends "layout.html" %}
{% block content %}
	<div class="row">
	{% for recipe in recipes %}
		<div class="col-sm-4">
			<div class="card text-center">
				<div class="card-body">
					{% if recipe.image_file %}
						<div class="card-img-top" >
							<img src="{{ url_for('static', filename='recipe_pics/' + recipe.image_file) }}" />
						</div>
					{% endif %}
					<h4 class="card-title"><a href="{{ url_for('recipes.recipe', recipe_id=recipe.id )}}">{{ recipe.title }}</a></h4>
					<p class="card-text">{{ recipe.description }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock content %}