{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="" enctype="multipart/form-data">
			{{ form.csrf_token }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">{{ legend }}</legend>
				<div class="form-group">
					{{ form.title.label(class="form-control-label") }}
					{% if form.title.errors %}
						{{ form.title(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.title.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}
						{{ form.title(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.description.label(class="form-control-label") }}
					{% if form.description.errors %}
						{{ form.description(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.description.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}
						{{ form.description(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-row">
					<div class="col-5">
						<div class="form-group">
							{{ form.picture.label }}<br>
							{{ form.picture(id="image_url", value=recipe_picture) }}
							<input class="mb-1" type="file" accept="image/*" id="file_input"/>
							<div id="progress" class="d-none">
  								<div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
							</div>
							<img id="preview" class="recipe-pic" src="{{ recipe_picture }}"/>
						</div>
					</div>
					<div class="col-7">
						<div class="form-group">
							{{ form.cook_time.label(class="form-control-label") }}
							{% if form.cook_time.errors %}
								{{ form.cook_time(class="form-control form-control-lg is-invalid", placeholder='minutes')}}
								<div class="invalid-feedback">
									{% for error in form.cook_time.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}
								{{ form.cook_time(class="form-control form-control-lg", placeholder='minutes') }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.servings.label(class="form-control-label") }}
							{% if form.servings.errors %}
								{{ form.servings(class="form-control form-control-lg is-invalid", placeholder='5, 7-8')}}
								<div class="invalid-feedback">
									{% for error in form.servings.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}
								{{ form.servings(class="form-control form-control-lg", placeholder='5, 7-8') }}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="form-group float-none">
					{{ form.ingredients.label(class="form-control-label") }}
					{% if form.ingredients.errors %}
						{{ form.ingredients(class="form-control form-control-lg is-invalid", placeholder='enter each ingredient on a new line...')}}
						<div class="invalid-feedback">
							{% for error in form.ingredients.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}
						{{ form.ingredients(class="form-control form-control-lg", placeholder='enter each ingredient on a new line...') }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.directions.label(class="form-control-label") }}
					{% if form.directions.errors %}
						{{ form.directions(class="form-control form-control-lg is-invalid", placeholder='enter each direction on a new line...')}}
						<div class="invalid-feedback">
							{% for error in form.directions.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}
						{{ form.directions(class="form-control form-control-lg", placeholder='enter each direction on a new line...') }}
					{% endif %}
				</div>					
			</fieldset>						
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>		
	</div>
	<script>
		var sign_s3_url = "{{ url_for('main.sign_s3') }}";
	</script>
	<script src="{{ url_for('static', filename='js/upload_image.js') }}"></script>
{% endblock content %}
