{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Add a recipe!</legend>
				<div class="form-group">
					{{ form.title.label(class="form-control-label") }}
					{% if form.title.errors %}
						{{ form.title(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.title.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}
						{{ form.title(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.description.label(class="form-control-label") }}

					{% if form.description.errors %}
						{{ form.description(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.description.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}
						{{ form.description(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.picture.label }}
					{{ form.picture(class="form-control-file")}}
					{% if form.picture.errors %}
							{% for error in form.picture.errors %}
								<span class="text-danger">{{ error }}</span><br />
							{% endfor %}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.ingredients[0].label(class="form-control-label") }}
					<div>
						{{ form.ingredients[0](class="form-control form-control-lg") }}
	                    <button id="b1" class="btn add-more" type="button">+</button>
					</div>
				</div>
				<div class="form-group">
					{{ form.directions[0].label(class="form-control-label") }}
					<div>
						{{ form.directions[0](class="form-control form-control-lg") }}
	                    <button id="b2" class="btn add-more" type="button">+</button>
					</div>
				</div>
			</fieldset>	
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>			
		</form>		
	</div>

	<script type="text/javascript">
$(document).ready(function(){
    var next = 0;
    var next_dir = 0;

    $("#b1").click(function(e){
        e.preventDefault();
        var addto = "#ingredients-" + next;
        var addRemove = "#ingredients-" + (next);
        next = next + 1;
        var newIn = '<input class="form-control form-control-lg" id="ingredients-' + next + '" name="ingredients-' + next + '" type="text"></div><div">';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button>';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#ingredients-" + next).attr('data-source',$(addto).attr('data-source'));
        
            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#ingredients-" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    });

    $("#b2").click(function(e){
        e.preventDefault();
        var addto = "#directions-" + next_dir;
        var addRemove = "#directions-" + (next_dir);
        next_dir = next_dir + 1;
        var newIn = '<input class="form-control form-control-lg" id="directions-' + next_dir + '" name="directions-' + next_dir + '" type="text"></div><div">';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next_dir - 1) + '" class="btn btn-danger remove-dir" >-</button>';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#directions-" + next_dir).attr('data-source',$(addto).attr('data-source'));
        
            $('.remove-dir').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#directions-" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    });
});
	</script>
{% endblock content %}
