{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<div class="row">
			<div class="col-sm-10">
				<h2>{{ recipe.title }}</h2>
			</div>
			{% if recipe.author == current_user %}
			<div class="ml-3">
				<a class="btn btn-info" href="{{ url_for('recipes.edit_recipe', recipe_id=recipe.id) }}">Edit</a>
				<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
			</div>
			{% endif %}
		</div>
		{% if recipe.image_file %}
			<div class="row">
				<img src="{{ url_for('static', filename='recipe_pics/' + recipe.image_file) }}" />
			</div>
		{% endif %}
		<div class="row">
			<small class="text-muted">User: <a href="{{ url_for('users.user_recipes', user_id=recipe.author.id) }}">{{ recipe.author.username }}</a></small>
		</div>
		<div class="row">
			<small class="text-muted">
				Cook time: {% if recipe.cook_time %}{{ recipe.cook_time }}{% else %}?{% endif %} minutes
			</small>
		</div>
		<div class="row">
			<small class="text-muted">
				Serves: {% if recipe.servings %}{{ recipe.servings }}{% else %}?{% endif%}
			</small>
		</div>
		<div class="row">
			<p>{{ recipe.description }}</p>
		</div>
		<div class="row">
			{% if recipe.ingredients|length > 0 %}
				<h3>Ingredients</h3>
			{% endif %}
		</div>
		<div class="row">
			<ul>
				{% for ingredient in recipe.ingredients %}
					<li>{{ ingredient.content }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="row">
			{% if recipe.directions|length > 0 %}
				<h3>Directions</h3>
			{% endif %}
		</div>	
		<div class="row">
			<ol>
				{% for direction in recipe.directions %}
					<li>{{ direction.content }}</li>
				{% endfor %}
			</ol>
		</div>
	</div>

    <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Recipe?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('recipes.delete_recipe', recipe_id=recipe.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
