{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<div class="row">
			<h2>{{ recipe.title }}</h2>
			{% if recipe.image_file %}
				</div>
				<div class="row">
					<img src="{{ url_for('static', filename='recipe_pics/' + recipe.image_file) }}" />
			{% endif %}
		</div>
		<div class="row">
			<p>User: {{ recipe.author.username }}</p>
		</div>
		<div class="row">
			<p>{{ recipe.description }}</p>
		</div>
		<div class="row">
			<h3>Ingredients</h3>
		</div>
		<div class="row">
			<ul>
				{% for ingredient in recipe.ingredients %}
					<li>{{ ingredient.content }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="row">
			<h3>Directions</h3>
		</div>	
		<div class="row">
			<ol>
				{% for direction in recipe.directions %}
					<li>{{ direction.content }}</li>
				{% endfor %}
			</ol>
		</div>
	</div>
{% endblock content %}
