{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<div class="d-flex flex-wrap">
			<div class="mr-auto p-2 bd-highlight">
				<h2>{{ recipe.title }}</h2>
			</div>
			{% if recipe.author == current_user %}
			<div class="p-2 bd-highlight">
				<a class="btn btn-outline-info" href="{{ url_for('recipes.edit_recipe', recipe_id=recipe.id) }}">Edit</a>
				<button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
			</div>
			{% endif %}
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-3">
				<img class="recipe-pic" src="{{ recipe.get_image_url() }}" />
			</div>
			<div class="col-sm-12 col-md-9">
				<div class="row">
					<small class="text-muted">User: <a href="{{ url_for('users.user_recipes', user_id=recipe.author.id) }}">{{ recipe.author.username }}</a> | Cook time: {% if recipe.cook_time %}{{ recipe.cook_time }}{% else %}?{% endif %} minutes | Serves: {% if recipe.servings %}{{ recipe.servings }}{% else %}?{% endif%}
					</small>
				</div>
				<div class="row">
					<p>{{ recipe.description }}</p>
				</div>
			</div>
		</div>
		{% if current_user.is_authenticated %}
		<div class="row mt-2">
			<div>
				{% if current_user.made_this(recipe) %}
					<input type="button" id="made-it" class="btn btn-outline-success" value="✓ Made it. {{ recipe.users|length }}" />
				{% else %}
					<input type="button" id="made-it" class="btn btn-success" value="Made it? {{ recipe.users|length }}" />
				{% endif %}
			</div>
			<div class="ml-1"></div>
		</div>
		{% endif %}
		<div class="row">
		{% if recipe.ingredients %}
		<div class="col-sm-12 col-md-4">
			<div class="row">
				<h3>Ingredients</h3>
			</div>
			<div class="row">
				<ul>
					{% set ingredients = recipe.ingredients.split('\r\n') %}
					{% for ingredient in ingredients %}
					<li>{{ ingredient }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>	
		{% endif %}		
		{% if recipe.directions %}
		<div class="col-sm-12 col-md-8">
			<div class="row">			
				<h3>Directions</h3>
			</div>	
			<div class="row">
				<ol>
					{% set directions = recipe.directions.split('\r\n') %}
					{% for direction in directions %}
					<li>{{ direction }}</li>
					{% endfor %}
				</ol>
			</div>
			</div>
		{% endif %}
		</div>
	</div>

	<div class="content-section">
		<h3>Comments</h3>
		{% if current_user.is_authenticated %}
			<div class="form-group">
				<textarea class="md-textarea form-control" id="comment" name="comment" rows="3"></textarea>
				<input class="btn btn-primary mt-1" type="button" id="submit-comment" value="Submit">
			</div>
		{% else %}
			<div class="alert alert-dark" role="alert">
				<h5>Log in to post comments.</h5>
			</div>
		{% endif %}
		<div id="comment-section"></div>
	</div>

    <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Recipe?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="{{ url_for('recipes.delete_recipe', recipe_id=recipe.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  	(function() {
  		var button = document.getElementById('made-it');
			if (button != null) {
  			button.onclick = cahnge_made_recipe;
			}

			get_comments(update_comments);

			var comment_button = document.getElementById("submit-comment");
			comment_button.onclick = function() {
				post_comment();
			}
  	})();

		function post_comment() {
			comment_input = document.getElementById("comment").value;
			if (comment_input != "") {
				var xhr = new XMLHttpRequest();
				var url = "{{ url_for('recipes.create_comment', recipe_id=recipe.id) }}";
				var params = 'body=' + comment_input;
				xhr.open("POST", url, true);
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
				xhr.onreadystatechange = function(){
					if(xhr.readyState === 4 && xhr.status === 201) {
						get_comments(update_comments);
					}
				};
				xhr.send(params);
			}
		}

		// get comments from the server (just dummy data now)
		// need a post_comment func
		function get_comments(callback) {
			var xhr = new XMLHttpRequest();
  		xhr.open("GET", "{{ url_for('recipes.recipe_comments', recipe_id=recipe.id) }}");
  		xhr.onreadystatechange = function(){
				if(xhr.readyState === 4){
					if(xhr.status === 200){
						callback(JSON.parse(xhr.responseText));
					}
				}
			};
			xhr.send();
		}

		// clears and appends to the comment section
		// {comments: [{body, date, author: {name, image}}]}
		function update_comments(response) {
			comment_section = document.getElementById("comment-section");
			while (comment_section.firstChild) {
				comment_section.removeChild(comment_section.firstChild);
			}

			response.comments.forEach(comment => {
				append_comment(comment);
			});
		}

		// append a single comment to the comments section
		function append_comment(comment) {
			comment_section = document.getElementById("comment-section");

			comment_div = document.createElement("div");
			comment_div.className = "media mb-3"
			comment_section.appendChild(comment_div);

			author_img = document.createElement("img");
			author_img.src = comment.author.image;
			author_img.className = "mr-3 comment-profile";
			comment_div.appendChild(author_img);

			media_body = document.createElement("div");
			media_body.className = "media-body";
			comment_div.appendChild(media_body);

			date_div = document.createElement("div");
			date_div.className = "text-muted";
			media_body.appendChild(date_div);

			date_text = document.createTextNode(comment.author.name + " on " + comment.date);
			date_div.appendChild(date_text);

			comment_text = document.createTextNode(comment.body);
			media_body.appendChild(comment_text);
		}

		// Update the "made-it" button when user clicks
		// called by change_made_recipe()
  	function update_button(data) {
  		var button = document.getElementById('made-it');
  		if (data.added) {
			button.className = 'btn btn-outline-success';
			button.value = '✓ Made it. ' + data.count;
  		}
  		else {
			button.className = 'btn btn-success';
			button.value = 'Made it? ' + data.count;
  		}
  	}

		// Send request to server to toggle user's "made-it" status for recipe
  	function cahnge_made_recipe() {
  		var xhr = new XMLHttpRequest();
  		xhr.open("GET", "{{ url_for('users.made_recipe', recipe_id=recipe.id) }}");
  		xhr.onreadystatechange = function(){
				if(xhr.readyState === 4){
					if(xhr.status === 200){
						update_button(JSON.parse(xhr.responseText));
					}
				}
			};
			xhr.send();
  	}
  </script>
{% endblock content %}
