{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			<fieldset>
				<legend class="border-bottom mb-4">Account Info</legend>
				{{ form.csrf_token }}
				<div class="form-row">
					<div class="col-4">
						<div class="form-group">
							<img class="img-thumbnail profile-pic" id="preview" src="{{ profile_pic }}"/>
							<p>Upload profile picture</p>
							<input type="file" id="file_input"/>
							{{ form.picture(id="image_url", value=profile_pic) }}
						</div>
					</div>					
					<div class="col-8">
						<div class="form-group">
							{{ form.username.label(class="form-control-label") }}
							{% if form.username.errors %}
								{{ form.username(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.username.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}
								{{ form.username(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.email.label(class="form-control-label") }}
							{% if form.email.errors %}
								{{ form.email(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}
								{{ form.email(class="form-control form-control-lg") }}
							{% endif %}
						</div>							
					</div>
				</div>
				<div class="form-row">
					<div class="col-12">
						<div class="form-group">
							{{ form.submit(class="btn btn-outline-info") }}
						</div>
					</div>
				</div>						
			</fieldset>	
		</form>
		<form method="POST" action="{{ url_for('users.update_password') }}">
			{{ pw_form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Update Password</legend>
				<div class="form-group">
                    {{ pw_form.old_password.label(class="form-control-label") }}
                    {% if pw_form.old_password.errors %}
                        {{ pw_form.old_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in pw_form.old_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ pw_form.old_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				<div class="form-group">
                    {{ pw_form.password.label(class="form-control-label") }}
                    {% if pw_form.password.errors %}
                        {{ pw_form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in pw_form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ pw_form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ pw_form.confirm_password.label(class="form-control-label") }}
                    {% if pw_form.confirm_password.errors %}
                        {{ pw_form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in pw_form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ pw_form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                	{{ pw_form.submit(class="btn btn-outline-info") }}
            	</div>
            </fieldset>
		</form>		
	</div>
	<script>
		var sign_s3_url = "{{ url_for('main.sign_s3') }}";
	</script>
	<script src="{{ url_for('static', filename='js/upload_image.js') }}"></script>
{% endblock content %}